<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗2-實驗結束</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	    <div class="row">
	    	<div class="col s12">
	  			{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
	var app = app || {};
	app.ctrl = (function(){

		function done(){
			var event = app.event.create({
				type: 'click',
				message: '實驗2-操作教學-結束 # 確定'
			});
			app.resources.events.post(event).then(function(_event){
				location = '/exp1-video';
			});
		}

		return {
			done: done
		}
	})();
	</script>