<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-操作教學</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content" style="padding: 0 0 24px 0;">
	  	<div class="row">
	    	<div class="col s12">
	    		<div class="container">
	    			{{#if video}}
			    		<video width="100%" controls>
						    <source src="{{video}}" type="video/mp4">
						  </video>
					  {{else}}
					  	<p>請先設定影片</p>
					  {{/if}}
		      </div>
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 center-align">
	    		<a id="next-btn" class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-操作教學-影片 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			location = '/exp1-use-survey';
		});
	}

	return {
		done: done
	}
})();
</script>