<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    		{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	  		</div>
	  	</div>

	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '媒體多工實驗-結尾說明 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			//location = '/post_test1';
		});
	}

	return {
		done: done
	}
})();
</script>