<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-實驗說明a</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	<!-- <p style="font-size:24px">為使接下來的學習更為順利，在正式學習之前，我們準備了一個範例影片讓您練習。在觀看範例影片的過程中，您可以視需要<span style="color:red">隨時暫停與播放影片。</span><br><br>瞭解後請按下一步，進入範例影片。</p> -->
	    	<!--
             <p style="font-size:24px">為使接下來的學習更為順利，在正式學習之前，我們準備了影片讓您體驗一下以熟悉流程。進入下一頁後，請點擊影片左下方的播放鍵開始觀看影片。
<br><br>
-->
<!--
影片中，有部分會是<span style="color:red">圖片搭配文字標示或數字標記一同呈現的頁面。</span><br><br>


<span style="color:red">在觀看範例影片的過程中，您可以視需要隨時暫停與播放影片。</span><br><br>

<span style="color:red">該影片是由系統控制播放，不提供使用者控制功能。</span><br><br>
-->


<p style="font-family: Microsoft JhengHei;font-size:36px"> • 在正式學習前，請先觀看一段影片。</p><br><br>

<p style="font-family: Microsoft JhengHei;font-size:36px"> • 進入下一頁後，請點擊影片左下方的播放鍵開始觀看影片。</p><br><br>


<p style="font-family: Microsoft JhengHei;font-size:36px"> 
• 瞭解後請戴上耳機，並按下一步。

             	
             </p>
             <br>   <br>  <br>   <br>

	    		<!--{{#if instruction}}-->
				    <div class="cke-container">
				 

				    	<!-- {{{instruction}}} -->
				    </div>
				  <!-- {{else}} -->
				    <!-- <p>請先設定內容</p> -->
				  <!-- {{/if}} -->
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-實驗說明a # 確定'
		});
		app.resources.events.post(event).then(function(_event){
           
            //location = '/exp1-pre-video-a';
          location = '/exp3-video2-a';
		});
	}

	return {
		done: done
	}
})();
</script>