<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-基本資料</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	  {{#if survey}}
						<iframe style="font-family:cursive" class="survey-iframe" id="survey-iframe" src="{{survey}}" frameborder="0"></iframe>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	    	
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a id="next-btn" class="waves-effect waves-light btn" style="display:none;" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>

var app = app || {};
app.ctrl = (function(){



	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-基本資料 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			location = '/exp1-pre-test-intro';
		});
	}

	return {
		done: done
	}
})();

var $surveyIframe;
var surveyIframe;
var $nextBtn;
var injectionSurveyCtrl;
$(function(){
	$nextBtn = $('#next-btn');
	$surveyIframe = $('#survey-iframe');
	surveyIframe = $surveyIframe.get(0);

	injectionSurveyCtrl = (function(){

		function sendDataToServerDone(){
			$nextBtn.show();
		}

		function onMutation(){
			autoHeightIframe(surveyIframe);
		}


		function onValueChanged(survey, options){

	console.log(survey);
            
            if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
            {
			var event = app.event.create({
				type: 'survey',
				message: '實驗3-基本資料 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
			    questionNumber: options.name,
			    answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			});

			app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				console.log('[event]', _event);
			});

            }
            else
            {
			var event = app.event.create({
				type: 'survey',
				message: '實驗3-基本資料 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
			    questionNumber: options.name,
			    answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			});

			app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				console.log('[event]', _event);
			});
	        }

		}

		return {
			sendDataToServerDone: sendDataToServerDone,
			onMutation: onMutation,
			onValueChanged: onValueChanged
		};

	})();


	$surveyIframe.load(function(){
		surveyIframe.contentWindow.app.injection.settings = {
			noPrevPageBtn: true
		};
		surveyIframe.contentWindow.app.injection.surveyCtrl = injectionSurveyCtrl;
		surveyIframe.contentWindow.app.injection.expCtrl = app.expCtrl;
		surveyIframe.contentWindow.app.surveyCtrl.initInjection();

		autoHeightIframe(surveyIframe);

		app.eggCtrl.addEventListener(surveyIframe.contentWindow.document);
	});

	if ( app.debug ) {
		$('#next-btn').show();
	}
});
</script>