<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-開始說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">

<p style="font-size:24px">
感謝各位同學來參與實驗，此次實驗<span style="color:red">約四十五分鐘。</span><br>

每位順利完成兩階段實驗的同學將可獲得<span style="color:red">200元禮券</span>作為酬勞。<br>

實驗後會有檢視您是否理解教學內容的測驗，請認真作答。<br>

整個實驗<span style="color:red">不會</span>有任何侵入性的操作。<br>

<u>研究過程中您不需要任何理由，可隨時退出研究，且不會引起任何不愉快以及任何不良後果。</u><br>

中間如果有任何問題，請隨時舉手告知研究人員。若無問題，請按下一步。</p>
	    	<!--
	    		{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}-->
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-開始說明 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			location = '/exp1-intro';
		});
	}

	return {
		done: done
	}
})();
</script>