<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-實驗說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	<!--	<p style="font-size:30px">接下來將進入學習階段，在進入下一頁後，請點擊影片左下方的播放按鈕開始觀看影片。
<br><br>
請注意，影片是由系統控制播放，不提供使用者控制功能。
<br><br>
瞭解後請按下一步
</p>-->

<p style="font-size:24px">
接下來將進入學習階段，在進入下一頁後，請點擊影片左下方的播放按鈕開始觀看影片。<br><br>

影片中，有部分會是圖片搭配文字標示或數字標記一同呈現的頁面。<br><br>

請注意，<span style="color:red;font-size:30px">影片是由系統控制播放，<u>不提供使用者控制</u>功能。</span><br><br>

瞭解後請按下一步
</p>

	    		<!-- {{#if instruction}} -->
				    <!-- <div class="cke-container"> -->
				    	<!-- {{{instruction}}} -->
				    <!-- </div> -->
				  <!-- {{else}} -->
				    <!-- <p>請先設定內容</p> -->
				  <!-- {{/if}} -->
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-實驗說明 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
		   if(app.expCtrl.getGroup()=='d')
		   { location = '/exp1-video-d?group='+ app.expCtrl.getGroup();}
		   
			//location = '/exp1-video?group=' + app.expCtrl.getGroup();
		});
	}

	return {
		done: done
	}
})();
</script>