<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-結語</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    		{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	  		</div>
	  	</div>
	  </div>
	</div>
</div>