<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-實驗介紹</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
<!--
<p style="font-family:cursive; font-size:24px"> 
-->
<p style="font-family: Microsoft JhengHei;font-size:36px"> 
	    	親愛的同學，您好：<br><br>

感謝您來參與由科技部資助之研究計畫（網路影片學習之認知負荷管理策略教學平台：策略與平台的發展、驗證、與推廣）的實驗研究。<br><br>






<span style="color:red">實驗過程中，所有學習教材都將呈現於電腦螢幕上，在您完成學習後，會有測驗用以檢視您的學習成果，請認真作答。</span>您的認真參與將有助於研究團隊瞭解科技輔助對於學習者學習歷程之影響。<br><br>


此次<span style="color:red">實驗分為兩個階段，合計約八十分鐘</span>，每位順利完成兩階段實驗的同學將可獲得<span style="color:red"> 300 元超商商品卡</span>作為報酬。我們<span style="color:red">會透過螢幕錄製的方式記錄整個實驗過程</span>，中間如果有任何問題，請隨時舉手告知研究人員。



<!--
此次<span style="color:red">實驗約三十分鐘</span>，完成的同學將可獲得<span style="color:red">100元超商商品卡</span>
作為報酬。實驗中<span style="color:red">不會有任何侵入性操作</span>，並<span style="color:red">會透過螢幕錄製的方式記錄整個實驗過程。</span>中間如果有任何問題，請隨時舉手告知研究人員。<br><br>-->

<br><br>另外，<u>您的參與屬於自願性質，因此研究過程中您不需要任何理由，可以隨時退出，不用擔心會引起任何不愉快或是任何不良後果。</u><br><br>

若無問題，請按下一步。</p>
	    		<!--{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}-->
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-實驗介紹 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			location = '/exp1-profile';
		});
	}

	return {
		done: done
	}
})();
</script>