<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
      <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="ltc-video-container grey darken-4" style="width: 960px; height:540px;">
            {{#if video}}
              <!-- <div id="play-overlay" onclick="app.video.start()" class="grey darken-3" style="width: 960px; height:540px; position:absolute; opacity:.8; display: flex; align-items: center; justify-content: center; cursor:pointer; z-index:1;"> -->
                <!-- <i class="material-icons" style="font-size:20rem; color:lightgray;">play_arrow</i> -->
              <!-- </div> -->
              <div class="video" style="width: 960px; height:540px;">
                <video id="video"
                      width="960"
                      height="540"
                      >
                  <source src="{{video}}" type="video/mp4">
                  {{!-- {{#if webvtt}}
                    <track kind="captions" src="{{webvtt}}" srclang="en" label="English" default>
                  {{/if}} --}}
                </video>
              </div>
            {{else}}
              <p class="white-text">請先設定影片</p>
            {{/if}}
          <div class="video-seek-bar" style="width:960px">
            <input type="range" id="seek-bar" value="0">
          </div>
          <div class="video-control-bar grey darken-4" style="width:960px">
            <div class="waves-effect waves-light video-btn" id="play-toggle-btn" onclick="app.video.playToggle()">
              <i class="material-icons white-text">play_arrow</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.replay(10)">
              <i class="material-icons white-text">replay_10</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.forward(10)">
              <i class="material-icons white-text">forward_10</i>
            </div>
            <!--
            <div class="waves-effect waves-light video-btn" onclick="app.video.toggleCc()">
              <i class="material-icons white-text" id="cc">closed_caption</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.favorList.add()">
              <i class="material-icons white-text">bookmark</i>
            </div>-->
            <div class="white-text video-time">
              <div class="left-align" style="padding-top:7px;">
                <span id="video-current-time"></span>
                <span>/</span>
                <span id="video-duration"></span>
              </div>
            </div>
            <div class="video-volume">
              <div class="waves-effect waves-light video-btn" onclick="app.video.toggleVolume()">
                <i class="material-icons white-text" id="volume-icon">volume_up</i>
              </div>
              <input type="range" id="volume-bar" value="100">
            </div>
          </div>
        </div>
      </div>
	  	<div class="row">
	    	{{!-- <div class="col" style="width:640px; height:410px; padding:0;"> --}}
	    	<div class="col">

        </div>
        {{!-- <div class="col" style="width:480px;">
          <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s4"><a class="active" href="#test-swipe-1">逐字搞</a></li>
            <li class="tab col s4"><a href="#test-swipe-2">大綱講義</a></li>
            <li class="tab col s4"><a href="#test-swipe-3">書籤</a></li>
          </ul>
          <div id="test-swipe-1" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="transcript"></div>
				  </div>
				  <div id="test-swipe-2" class="col s12 grey lighten-2" style="min-height: 372px;">Test 2</div>
				  <div id="test-swipe-3" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="favor-list"></div>
          </div>
	  		</div> --}}
	  	</div>
	    	<div class="row">
	    	<div class="col s12 center-align">
			    <a id="done-btn" class="waves-effect waves-light btn disabled" href="/exp1-cognitive-load-test"><i class="material-icons left">navigate_next</i>影片結束後請按此按鈕進入下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<noscript id="transcript-template">
  <div class="collection">
    <% _.forEach(data.cues, function(cue){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=cue.startTime%>)">
        <span><%=format.mmss(cue.startTime)%></span>
        <span><%=cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<noscript id="favor-list-template">
  <div class="collection">
    <% _.forEach(data.favors, function(favor){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=favor.time%>)">
        <span><%=format.mmss(favor.time)%></span>
        <span><%=favor.cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<script>
var app = app || {};
app.video = (function(){
  var video;
  var $transcript;
  var $seekBar;
  var $volumeBar;
  var $volumeIcon;
  var $playToggleBtnIcon;
  var $videoCurrentTime;
  var $videoDuration;
  var cues;
  var restoreVolume;
  var $doneBtn;
var stop_index=0;
var k=0;

  function init(){
    video = document.getElementById('video');
    $transcript = $('#transcript');
    $seekBar = $('#seek-bar');
    $volumeBar = $('#volume-bar');
    $volumeIcon = $('#volume-icon');
    $playToggleBtnIcon = $('#play-toggle-btn').find('i');
    $videoCurrentTime = $('#video-current-time');
    $videoDuration = $('#video-duration');
    cues = video.textTracks[0] ? video.textTracks[0].cues : [];
    restoreVolume = 1;
    $doneBtn = $('#done-btn');
    
    

    var decodedJson = decodeURIComponent("{{{pauseAt}}}");
    var jsonObj = JSON.parse(decodedJson);
    jsonObj=jsonObj.sort()

    for(var i=0;i<jsonObj.length;i++)
    {
    jsonObj[i]=parseInt(jsonObj[i]); 
    }

    console.log(jsonObj);

    video.addEventListener('loadeddata', function() {
      $videoDuration.text(app.format.mmss(video.duration));
      renderTranscript();
      renderTime();
    });

    video.addEventListener("timeupdate", function() {
      //var value = (100 / video.duration) * video.currentTime;

      
      var value = 100  * (video.currentTime/video.duration);
          

       for(var i=0;i<jsonObj.length;i++)
       {
        if(jsonObj[i]<video.currentTime &&  video.currentTime< jsonObj[i]+0.3)
         {

          video.pause();
          $playToggleBtnIcon.html('play_arrow');
         }
       }

console.log(video.currentTime);
      $seekBar.val(value);
      renderTime();
    });

    video.addEventListener("ended", function() {
      $playToggleBtnIcon.html('play_arrow');
      $doneBtn.removeClass('disabled');
    });

    //$seekBar.change(function(){
    //  var time = video.duration * ($seekBar.val() / 100);
    //  video.currentTime = time;
    //});

    $seekBar.bind("input", function(){
      var time = video.duration * ($seekBar.val() / 100);
      video.currentTime = time;
    });


    // $volumeBar.change(function(){
    //   console.log($volumeBar.val());
    //   video.volume = $volumeBar.val() / 100;
    // });

    $volumeBar.bind("input", function() {
      video.volume = $volumeBar.val() / 100;
      if ( video.volume > 0 ) {
        $volumeIcon.html('volume_up');
      } else {
        $volumeIcon.html('volume_off');
      }
    });
  }

  function renderTranscript(){
    var data = {};
    data.cues = cues;
    $transcript.html(app.components.transcript(data));
  }

  function renderTime(){
    $videoCurrentTime.text(app.format.mmss(video.currentTime));
  }

  function setCurrentTime(time){
    video.currentTime = time;
  }

  function getCurrentTime(){
    return video.currentTime;
  }

  function playToggle(){

  // stop_index=stop_index+1;
  // console.log("here");

    if ( video.paused ) {
        video.play();
        $playToggleBtnIcon.html('pause');
     } else {
        video.pause();
        $playToggleBtnIcon.html('play_arrow');
     }
  }

  function start(){
    $('#play-overlay').hide();
    video.play();
  }

  function replay(time){
    video.currentTime -= time;
  }

  function forward(time){
    video.currentTime += time;
  }

  function getActiveCue(){
    return video.textTracks[0].activeCues[0];
  }

  function toggleCc(){
    if ( isCcActive() ) {
      video.textTracks[0].mode = 'hidden';
      $('#cc').addClass('grey-text text-darken-1');
      $('#cc').removeClass('white-text');
    } else {
      video.textTracks[0].mode = 'showing';
      $('#cc').removeClass('grey-text text-darken-1');
      $('#cc').addClass('white-text');
    }
  }

  function isCcActive(){
    return video.textTracks[0].mode === 'showing';
  }

  function toggleVolume(){
    if ( video.volume > 0 ) {
      restoreVolume = video.volume;
      video.volume = 0;
      $volumeIcon.html('volume_off');
    } else {
      video.volume = restoreVolume;
      $volumeIcon.html('volume_up');
    }

    $volumeBar.val(video.volume * 100);
  }

  return {
    init: init,
    setCurrentTime: setCurrentTime,
    getCurrentTime: getCurrentTime,
    playToggle: playToggle,
    replay: replay,
    forward: forward,
    getActiveCue: getActiveCue,
    toggleCc: toggleCc,
    isCcActive: isCcActive,
    toggleVolume: toggleVolume,
    start: start
  };

})();

app.format = (function(){

  function mmss(second){
    var mm = parseInt(second / 60);
    var ss = _.padStart(_.round(second % 60), 2, 0)
    return mm + ':' + ss;
  }

  return {
    mmss: mmss
  };

})();

app.favorList = (function(){
  var favors;
  var $favorList;

  function init(){
    favors = [];
    $favorList = $('#favor-list');
  }

  function add(){
    var favor = {};
    favor.time = app.video.getCurrentTime();
    favor.cue = app.video.getActiveCue();
    favors.push(favor);
    render();
  }

  function render(){
    var data = {};
    data.favors = favors;
    $favorList.html(app.components.favorList(data));
  }

  return {
    init: init,
    add: add
  };

})();

app.components = app.components || {};
app.components.transcript = function(data){
  var template = $('#transcript-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

app.components.favorList = function(data){
  var template = $('#favor-list-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

$(function(){
  app.video.init();
  app.favorList.init();

  if ( app.debug ) {
    $('#done-btn').removeClass('disabled');
  }
});
</script>