<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-實驗說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    		<p style="text-align:center;font-size:30px">          示範影片結束，主要影片正式開始。</p>
	    		<!-- {{#if instruction}} -->
				    <!-- <div class="cke-container"> -->
				    	<!-- {{{instruction}}} -->
				    <!-- </div> -->
				  <!-- {{else}} -->
				    <!-- <p>請先設定內容</p> -->
				  <!-- {{/if}} -->
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-實驗說明 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
		   if(app.expCtrl.getGroup()=='a')
		   { location = '/exp1-video-a?group='+ app.expCtrl.getGroup();}
		   if(app.expCtrl.getGroup()=='b')
		   { location = '/exp1-video-b?group='+ app.expCtrl.getGroup();}
		   if(app.expCtrl.getGroup()=='c')
		   { location = '/exp1-video-c?group='+ app.expCtrl.getGroup();}
		   if(app.expCtrl.getGroup()=='d')
		   { location = '/exp1-video-d?group='+ app.expCtrl.getGroup();}
		   
			//location = '/exp1-video?group=' + app.expCtrl.getGroup();
		});
	}

	return {
		done: done
	}
})();
</script>