<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗2-C組自陳問題</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	  {{#if survey}}
						<iframe style="font-family:cursive" class="survey-iframe" id="survey-iframe" src="{{survey}}" frameborder="0"></iframe>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a id="next-btn" class="waves-effect waves-light btn" style="display:none;" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>

var question_list={}; 

var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗2-C組自陳問題 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
			//location = '/exp1-video-intro-a';
		   // if(app.expCtrl.getGroup()=='a')
		   // { location = '/exp1-video-intro-a'}
		   // if(app.expCtrl.getGroup()=='b')
		   // { location = '/exp1-video-intro-b'}
		   // if(app.expCtrl.getGroup()=='c')
		   // { location = '/exp1-video-intro-c'}
		   // if(app.expCtrl.getGroup()=='d')
		   // { location = '/exp1-video-intro-d'}
		   location = '/exp1-end';

		
		});
	}

	return {
		done: done
	}
})();

var $surveyIframe;
var surveyIframe;
var $nextBtn;
var injectionSurveyCtrl;
$(function(){
	$nextBtn = $('#next-btn');
	$surveyIframe = $('#survey-iframe');
	surveyIframe = $surveyIframe.get(0);

	injectionSurveyCtrl = (function(){

		function sendDataToServerDone(){
			$nextBtn.show();
		}

		function onMutation(){
			autoHeightIframe(surveyIframe);
		}

		function onAfterRenderPage(survey, options){
			var event = app.event.create({
				type: 'survey',
				message: '實驗2-C組自陳問題 # page # name: ' + options.page.name,
			});
			app.resources.events.post(event).then(function(_event){
				console.log('[event]', _event);
			});
		}

		function onCurrentPageChanged(survey, options){
			var event = app.event.create({
				type: 'survey',
				message: '實驗2-C組自陳問題 # page # name: ' + options.newCurrentPage.name,
			});
			app.resources.events.post(event).then(function(_event){
				console.log('[event]', _event);
			});
		}

		function onValueChanged(survey, options){

        if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
        {
        	if(options.name=="C01-Comment")
        	{	
              
              var index=0;

             for(var item in question_list)
             {
             	if(index%2==1)
             	{

           	      var event = app.event.create({
			 	  type: 'survey',
				  message: '實驗2-C組自陳問題 # question # name: ' + item + ', value: ' + question_list[item],
				  questionNumber: item,
				  answer: question_list[item]
			      });
			
			      app.resources.events.post(event).then(function(_event){
				  console.log('[event]', _event);
			      });

             	}

               index++;

             }

		    }
        }
        else{
			

           var string=options.name
		   var NewArray = string.split("-");

		   if(string[1]=="Comment")
		   {


		   }
		   else
		   {
               var event = app.event.create({
				type: 'survey',
				message: '實驗2-C組自陳問題 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
				questionNumber: options.name,
				answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) )
			});

		    question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			question_list[options.name+"-Comment"]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;


			app.resources.events.post(event).then(function(_event){
				console.log(question_list);
				console.log('[event]', _event);
			});

		   }

         }
/*
		 if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
          {
              var event = app.event.create({
				type: 'survey',
				message: '實驗2-C組自陳問題 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
				questionNumber: options.name,
				answer: question_list[options.name]
			});

            app.resources.events.post(event).then(function(_event){
					console.log('[event]', _event);
			});

          }
          else
         {			
         	var event = app.event.create({
				type: 'survey',
				message: '實驗2-C組自陳問題 # question # name: ' + options.name + ', value: ' + ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ),
				questionNumber: options.name,
				answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) )
			});

			question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			question_list[options.name+"-Comment"]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;

			app.resources.events.post(event).then(function(_event){
				console.log(question_list);
			});
		 }
*/

		}

		return {
			sendDataToServerDone: sendDataToServerDone,
			onMutation: onMutation,
			onAfterRenderPage: onAfterRenderPage,
			onCurrentPageChanged: onCurrentPageChanged,
			onValueChanged: onValueChanged
		};

	})();


	$surveyIframe.load(function(){
		surveyIframe.contentWindow.app.injection.settings = {
			noPrevPageBtn: true
		};
		surveyIframe.contentWindow.app.injection.surveyCtrl = injectionSurveyCtrl;
		surveyIframe.contentWindow.app.injection.expCtrl = app.expCtrl;
		surveyIframe.contentWindow.app.surveyCtrl.initInjection();

		autoHeightIframe(surveyIframe);

		app.eggCtrl.addEventListener(surveyIframe.contentWindow.document);
	});

	if ( app.debug ) {
		$('#next-btn').show();
	}
});
</script>