<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-策略說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">


<p style="font-family: Microsoft JhengHei;font-size:36px"> 
<!--
剛才觀看體驗影片的過程中，您可能會覺得看到某些片段時有些吃力，這是因為那些片段中含有大量視覺和聽覺的訊息。當您在聆聽旁白的同時，還要搜尋畫面中的相關訊息，便會覺得認知負荷較大。<br><br>
為了因應這種資訊量較多的情況，我們建議您可以善用影片播放功能中的「暫停鍵」。<span style="color:red;font-size:24px">當影片進行到視覺訊息量比較多的畫面時，先暫停播放，預習畫面中的內容（包含圖片、文字說明、箭號標示、數字標記等），看完以後再繼續觀看影片。
</span><br><br>

下面我們會用剛才的影片示範「畫面中視覺訊息較多時，先暫停並預習後再繼續播放」的方法。請按下一步觀看示範影片。-->


事實上，兩種方法可以克服上述問題。<br><br>
<span style="color:red;font-size:36px">• 按下暫停鍵：</span>當您覺得當下影片中的圖像或語音內容眾多且難以記住或理解時，請按下暫停鍵，仔細觀看。<br> </p>

<div style="margin-top:20px"></div>
<p style="font-family: Microsoft JhengHei;font-size:36px"> 
<span style="color:red;font-size:36px">• 拖曳時間軸：</span>當您覺得看過的影片內容難以記住或是理解，而想再看一次時，您可以拖曳影片時間軸至相對應的時間點，再次播放。<br><br>
請按下一步觀看上述兩種方法的示範影片。</p>




<br>
<br>
<br>
<br>
<!--
<p style="font-size:24px">
看過示範影片後，相信您對於「利用暫停功能預習內容，促進學習效率」的方式有了進一步了解。<br><br>

接下來還有一段介紹其餘腦神經的影片，您可以實際練習操作這個「暫停－預習」的方法。<br><br>

請您在觀看過程中，<span style="color:red;font-size:30px">遇到視覺訊息量較多的畫面時，暫停並預習過後再繼續播放。</span><br><br>

瞭解後請按下一步</p>-->



	   
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-策略說明2 # 確定'
		});
		app.resources.events.post(event).then(function(_event){
		   if(app.expCtrl.getGroup()=='b')
		   { location = '/exp3-video2-b';}

		   
			//location = '/exp1-video?group=' + app.expCtrl.getGroup();
		});
	}

	return {
		done: done
	}
})();
</script>