<!--自由控制-->
<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">正式實驗a</a>
    </div>
  </div>
</nav>

<style type="text/css">
.timer-wrap{
  width:100%;
  float:left;
  background-color: #34495e;
  padding:5px 0px;
}
.timer-wrap h4{
  text-align:center;
  font:bold 16px calibri;
  padding:5px;
  background-color:#2c3e50;
  color:#ffffff;
}

.timer-wrap .time{
  display:none;
}

.timer-wrap .timer{
  font: bold 20px 'times new roman';
  color: #ffffff;
  margin: 10px auto 0px;
  text-align:center;


}
</style>

<!--
<div class="timer-wrap">
  <i class="time">0:7:28</i>
  <div class="timer">
    <span>0</span> : <span>0</span>  : <span>0</span> 
  </div>

</div>
-->

<div class="container" style="margin-top:40px;">
  <div class="card">
    <div class="card-content">
      <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="ltc-video-container grey darken-4" id="video-container" style="width: 1280px; height:720px;">
            {{#if video}}
              <!-- <div id="play-overlay" onclick="app.video.start()" class="grey darken-3" style="width: 960px; height:540px; position:absolute; opacity:.8; display: flex; align-items: center; justify-content: center; cursor:pointer; z-index:1;"> -->
                <!-- <i class="material-icons" style="font-size:20rem; color:lightgray;">play_arrow</i> -->
              <!-- </div> -->
              <div class="video" style="width: 1280px; height:720px;">
                <video id="video"
                      width="1280"
                      height="720"
                      >
                  <source src="{{video}}" type="video/mp4">
                  {{!-- {{#if webvtt}}
                    <track kind="captions" src="{{webvtt}}" srclang="en" label="English" default>
                  {{/if}} --}}
                </video>
              </div>
            {{else}}
              <p class="white-text">請先設定影片</p>
            {{/if}}
          <!--
          <div class="video-seek-bar" style="width:960px">
            <input type="range" id="seek-bar" value="0">
          </div>
          -->
          <div class="video-seek-bar" style="width:850px;position:relative;top:10px;left:150px">
            <input type="range" min="0" max="100" id="seek-bar" value="0">
          </div>
          
          <div class="video-control-bar grey darken-4" id="video-container-control-bar" style="width:1280px">
            <div class="waves-effect waves-light video-btn" id="play-toggle-btn" onclick="app.video.playToggle()">
              <i class="material-icons white-text">play_arrow</i>
            </div>
             <!--
            <div class="waves-effect waves-light video-btn" onclick="app.video.replay(10)">
              <i class="material-icons white-text">replay_10</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.forward(10)">
              <i class="material-icons white-text">forward_10</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.toggleCc()">
              <i class="material-icons white-text" id="cc">closed_caption</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.favorList.add()">
              <i class="material-icons white-text">bookmark</i>
            </div>-->
            <div class="white-text video-time">
              <div class="left-align" style="padding-top:7px;">
                <span id="video-current-time"></span>
                <span>/</span>
                <span id="video-duration"></span>
              </div>
            </div>
            <div class="video-volume">
              <div class="waves-effect waves-light video-btn" onclick="app.video.toggleVolume()">
                <i class="material-icons white-text" id="volume-icon">volume_up</i>
              </div>
              <input type="range" id="volume-bar" value="100">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- <div class="col" style="width:640px; height:410px; padding:0;"> --}}
        <div class="col">

        </div>
        {{!-- <div class="col" style="width:480px;">
          <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s4"><a class="active" href="#test-swipe-1">逐字搞</a></li>
            <li class="tab col s4"><a href="#test-swipe-2">大綱講義</a></li>
            <li class="tab col s4"><a href="#test-swipe-3">書籤</a></li>
          </ul>
          <div id="test-swipe-1" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="transcript"></div>
          </div>
          <div id="test-swipe-2" class="col s12 grey lighten-2" style="min-height: 372px;">Test 2</div>
          <div id="test-swipe-3" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="favor-list"></div>
          </div>
        </div> --}}
      </div>
        <div class="row">
        <div class="col s12 center-align">
         <h4 id="done-text" style="font-family: Microsoft JhengHei;position: relative; top:40px"> 尚有學習時間，若確定觀看完畢，請按下一頁繼續</h4>
         <a id="done-btn" style="position: relative; top:40px" class="waves-effect waves-light btn" onclick="app.video.toggleCc()" href="/exp1-cognitive-load-test"><i class="material-icons left">navigate_next</i>下一頁</a>
         <br id="done-space1"> 
         <br id="done-space2"> 
        </div>
      </div>
    </div>
  </div>
</div>
<noscript id="transcript-template">
  <div class="collection">
    <% _.forEach(data.cues, function(cue){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=cue.startTime%>)">
        <span><%=format.mmss(cue.startTime)%></span>
        <span><%=cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<noscript id="favor-list-template">
  <div class="collection">
    <% _.forEach(data.favors, function(favor){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=favor.time%>)">
        <span><%=format.mmss(favor.time)%></span>
        <span><%=favor.cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<script>
var app = app || {};
app.video = (function(){
  var video;
  var $transcript;
  var $seekBar;
  var $volumeBar;
  var $volumeIcon;
  var $playToggleBtnIcon;
  var $videoCurrentTime;
  var $videoDuration;
  var cues;
  var restoreVolume;
  var $doneBtn;
  var $doneText;

  var $doneSpace1;
  var $doneSpace2;


var stop_index=0;
var k=0;
var press_times=0;


function jump(){

           var event = app.event.create({
       type: 'click',
       message: '實驗3-正式實驗a # 跳頁結束'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });  


  //location='/exp1-video-intro-a';
location='/exp1-cognitive-load-test';
}



function remind(){


 
      //  $('#video-container-control-bar').notify(
      //  "剩下一分鐘的檢視時間。", 
      //  { position:"top center", className: "info", autoHideDelay: 8000   }
      //  );

}


function showbutton(){

   
      $doneBtn.show();
      $doneBtn.removeClass('disabled');
 


}

//location='/exp1-cognitive-load-test';





  function init(){

    

    video = document.getElementById('video');
    seekBar = document.getElementById('seek-bar');

    $transcript = $('#transcript');
    $volumeBar = $('#volume-bar');
    $seekBar = $('#seek-bar');
        $time=$(".time");
    $timer=$(".timer")





    $volumeIcon = $('#volume-icon');
    $playToggleBtnIcon = $('#play-toggle-btn').find('i');
    $videoCurrentTime = $('#video-current-time');
    $videoDuration = $('#video-duration');
    cues = video.textTracks[0] ? video.textTracks[0].cues : [];
    restoreVolume = 1;
    $doneBtn = $('#done-btn');
    $doneBtn.hide();
    
    $doneText = $('#done-text');
    $doneText.hide();

   $doneSpace1  = $('#done-space1');
    $doneSpace1.hide();

   $doneSpace2  = $('#done-space2');
   $doneSpace2.hide();
/*
        $('#video-container-control-bar').notify(
        "您可以視需要隨時暫停與播放影片", 
        { position:"top left", className: "info", autoHideDelay: 8000   }
        );
*/

    var decodedJson = decodeURIComponent("{{{pauseAt}}}");
    
    var jsonObj = JSON.parse(decodedJson);
    jsonObj=jsonObj.sort()

    for(var i=0;i<jsonObj.length;i++)
    {
    jsonObj[i]=parseFloat(jsonObj[i]); 
    }


     seekBar.addEventListener('mousedown', function(){

//console.log( video_time[video_time.length-3], "click1");
console.log(video.currentTime, "mousedown");



   var event = app.event.create({
       type: 'mousedown',
       //message: '實驗3-正式實驗a # 點擊進度條 # '+  video_time[video_time.length-3]+' # '+ video.currentTime
       message: '實驗3-正式實驗a # 點擊進度條 # '+ video.currentTime
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });




 });



  seekBar.addEventListener('mouseup', function(){

//console.log( video_time[video_time.length-3], "click2");
console.log(video.currentTime, "mouseup");



   var event = app.event.create({
       type: 'mouseup',
       //message: '實驗3-正式實驗a # 鬆開進度條 # '+  video_time[video_time.length-3]+' # '+ video.currentTime
       message: '實驗3-正式實驗a # 鬆開進度條 # '+ video.currentTime
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });




 });


 //   console.log(jsonObj);

    video.addEventListener('loadeddata', function() {
      $videoDuration.text(app.format.mmss(video.duration));
      renderTranscript();
      renderTime();
    });

    video.addEventListener("timeupdate", function() {
      //var value = (100 / video.duration) * video.currentTime;
//console.log(video.currentTime);
      
      var value = 100  * (video.currentTime/video.duration);
          

       for(var i=0;i<jsonObj.length;i++)
       {
        if(jsonObj[i]<video.currentTime &&  video.currentTime< jsonObj[i]+0.2502)
         {

      //    video.pause();
          $playToggleBtnIcon.html('play_arrow');
         }
       }


       if((video.duration-5)<video.currentTime &&  video.currentTime< (video.duration-5)+0.2502) 
       {

       
        

 //       $('#video-container-control-bar').notify(
 // "影片將重複播放，直到學習時間結束自動跳頁。", 
 // { position:"top left", className: "success"  }
//);
     
       }


//console.log(video.currentTime);
      $seekBar.val(value);
      renderTime();
    });

    video.addEventListener("ended", function() {


       var event = app.event.create({
       type: 'click',
       message: '實驗3-正式實驗a # 播放完畢'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });

     
     
          var second3=3;
          var showTiming=second3*1000;
          var timeoutID3 = window.setTimeout(( () => showbutton() ), showTiming);


//location='/exp1-cognitive-load-test';
   



   //   video.currentTime=0;
  //     video.play();


      $playToggleBtnIcon.html('play_arrow');
      $doneText.show();

      $doneSpace1.show();
      $doneSpace2.show();
   //   $doneBtn.show();
   //   $doneBtn.removeClass('disabled');
    });

    //$seekBar.change(function(){
    //  var time = video.duration * ($seekBar.val() / 100);
    //  video.currentTime = time;
    //});

    $seekBar.bind("input", function(){
      var time = video.duration * ($seekBar.val() / 100);
      video.currentTime = time;
    });


    // $volumeBar.change(function(){
    //   console.log($volumeBar.val());
    //   video.volume = $volumeBar.val() / 100;
    // });

    $volumeBar.bind("input", function() {
      video.volume = $volumeBar.val() / 100;
      if ( video.volume > 0 ) {
        $volumeIcon.html('volume_up');
      } else {
        $volumeIcon.html('volume_off');
      }
    });
  }

  function renderTranscript(){
    var data = {};
    data.cues = cues;
    $transcript.html(app.components.transcript(data));
  }

  function renderTime(){
    $videoCurrentTime.text(app.format.mmss(video.currentTime));
  }

  function setCurrentTime(time){
    video.currentTime = time;
  }

  function getCurrentTime(){
    return video.currentTime;
  }


function nextpage(){

  // stop_index=stop_index+1;
  // console.log("here");

  }


  function playToggle(){

  // stop_index=stop_index+1;
  // console.log("here");

    if ( video.paused ) {
        video.play();
        //$("#play-toggle-btn").hide();
        $playToggleBtnIcon.html('pause');


       press_times=press_times+1;
        if(press_times==1)
        {
          var second=720;
          var jumpTiming=second*1000;
          var timeoutID1 = window.setTimeout(( () => jump() ), jumpTiming);


           var second2=660;
          var remindTiming=second2*1000;
          var timeoutID2 = window.setTimeout(( () => remind() ), remindTiming);

       var time =$time.text();
      
      console.log(time);
       
       var interval =setInterval(function(){
       
       var count =time.split(':');
       var hour =count[0];
       var min =count[1];
       var sec =count[2];

       var counter=$timer.find("span");
       counter.eq(0).text(hour);
       counter.eq(1).text(min);
       counter.eq(2).text(sec);
       
       if(hour ==0 && min ==0){
        $timer.css("color", "red");
       }
       if(sec == 0){
         if(min !=0){
          counter.eq(1).text(min--);
          sec=60;
         }
         else if(min ==0 && hour !=0){
          counter.eq(0).text(hour--);
          counter.eq(1).text(min = 60);
          sec =60;
         }
         else if(hour ==0 && min ==0 && sec ==0){
          counter.eq(2).text(0);
         }
         if(hour == 0 && min ==0)
         {
          $timer.css("color", "red");
         }
       }
       counter.eq(0).text(hour);
       counter.eq(1).text(min);
       counter.eq(2).text(--sec);
       
       time = counter.eq(0).text()+":"+counter.eq(1).text()+":"+counter.eq(2).text();
       if(hour ==0 && min ==0 && sec ==0){
          clearInterval(interval);
          alert("time up");
         }
      },1000);
        }










        var event = app.event.create({
       type: 'click',
       message: '實驗3-正式實驗a # 播放'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });

     } else {
        
       video.pause();
       $playToggleBtnIcon.html('play_arrow');
    
    
       var event = app.event.create({
       type: 'click',
       message: '實驗3-正式實驗a # 暫停'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });
      
     }
  }

  function start(){
    $('#play-overlay').hide();
    video.play();
  }

  function replay(time){
    video.currentTime -= time;
  }

  function forward(time){
    video.currentTime += time;
  }

  function getActiveCue(){
    return video.textTracks[0].activeCues[0];
  }

  function toggleCc(){

        
       var event = app.event.create({
       type: 'click',
       message: '實驗3-正式實驗a # 按下跳頁'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });
  
    /*
    if ( isCcActive() ) {
      video.textTracks[0].mode = 'hidden';
      $('#cc').addClass('grey-text text-darken-1');
      $('#cc').removeClass('white-text');
    } else {
      video.textTracks[0].mode = 'showing';
      $('#cc').removeClass('grey-text text-darken-1');
      $('#cc').addClass('white-text');
    }*/
  }

  function isCcActive(){
    return video.textTracks[0].mode === 'showing';
  }

  function toggleVolume(){
    if ( video.volume > 0 ) {
      restoreVolume = video.volume;
      video.volume = 0;
      $volumeIcon.html('volume_off');
    } else {
      video.volume = restoreVolume;
      $volumeIcon.html('volume_up');
    }

    $volumeBar.val(video.volume * 100);
  }

  return {
    init: init,
    setCurrentTime: setCurrentTime,
    getCurrentTime: getCurrentTime,
    playToggle: playToggle,
    replay: replay,
    forward: forward,
    getActiveCue: getActiveCue,
    toggleCc: toggleCc,
    isCcActive: isCcActive,
    toggleVolume: toggleVolume,
    start: start
  };

})();

app.format = (function(){

  function mmss(second){
    var mm = parseInt(second / 60);
    var ss = _.padStart(_.round(second % 60), 2, 0)
    return mm + ':' + ss;
  }

  return {
    mmss: mmss
  };

})();

app.favorList = (function(){
  var favors;
  var $favorList;

  function init(){
    favors = [];
    $favorList = $('#favor-list');
  }

  function add(){
    var favor = {};
    favor.time = app.video.getCurrentTime();
    favor.cue = app.video.getActiveCue();
    favors.push(favor);
    render();
  }

  function render(){
    var data = {};
    data.favors = favors;
    $favorList.html(app.components.favorList(data));
  }

  return {
    init: init,
    add: add
  };

})();

app.components = app.components || {};
app.components.transcript = function(data){
  var template = $('#transcript-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

app.components.favorList = function(data){
  var template = $('#favor-list-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

$(function(){
  app.video.init();
  app.favorList.init();

  if ( app.debug ) {
    //$('#done-btn').removeClass('disabled');

  }
  else
  {
   //$('#done-btn').remove();
      // $('#done-btn').remove();
  }
});
</script>