<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-正式實驗說明a</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">

<!--
<p style="font-family:cursive;font-size:24px">
剛才觀看學習影片的過程中，您可能會覺得看到某些片段時有些吃力，這是因為在那些片段中含有大量視覺和聽覺的訊息。<br>
當您在聆聽旁白的同時，還 要搜尋畫面中的相關訊息，便會覺得認知負荷較大。<br>
為了因應這種資訊量較多的情況，我們建議您可以善用影片播放功能中的「暫停鍵」。<br>

<span style="color:red;font-size:30px">當影片進行到視覺訊息量比較多的畫面時，先暫停播放，預習畫面中的內容（包括圖片、文字說明、箭號標示、數字標記等），看完以後再繼續觀看影片。
</span><br>

下面我們會用剛才的影片示範「畫面中視覺訊息較多時，先暫停並預習後再繼續播放」的方法。<br>

瞭解後請按下一步</p>
-->


<p style="font-family: Microsoft JhengHei;font-size:36px">
<!--
接下來是正式學習階段，進入下一頁後，請點擊影片左下方的播放鍵開始觀看影片。<br><br>



請記得在觀看影片的過程中，<span style="color:red;font-size:24px">您可以視需要隨時暫停與繼續播放影片。
</span><br><br>

瞭解後請按下一步。-->
	
• 接下來是正式學習影片，影片會以語音說明解釋片中的圖像訊息，請仔細觀看影片內容。<br><br>

• 觀看過程中，您可以自由按下暫停鍵或是拖曳時間軸來控制影片的播放。<br><br>

• 您將有 <b>12 分鐘</b>的時間完成上述學習任務，我們會在時限之前 1 分鐘提醒您<br><br>

• 瞭解後請按下一步觀看正式學習影片。


</p>

<br>
<br>
<br>
<br>

	   
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-正式實際說明a # 確定'
		});
		app.resources.events.post(event).then(function(_event){
		   if(app.expCtrl.getGroup()=='a')
		   { location = '/exp3-video4-a';}

		   
			//location = '/exp1-video?group=' + app.expCtrl.getGroup();
		});
	}

	return {
		done: done
	}
})();
</script>