<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">實驗3-示範c暫停與預習說明</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">


<p style="font-size:24px"> 
剛才觀看體驗影片的過程中，影片持續播放，沒有中斷。不過<span style="color:red;font-size:24px">在正式學習階段，影片播放到某些頁面時會自動暫停，此時請瀏覽該頁面的內容（包含圖片、文字說明、箭號標示、數字標記等），看完以後再自行按下播放鍵繼續觀看影片</span>。<br><br>

<!--
<span style="color:red;font-size:24px">當影片進行到視覺訊息量比較多的畫面時，先暫停播放，預習畫面中的內容（包含圖片、文字說明、箭號標示、數字標記等），看完以後再繼續觀看影片。
</span><br><br>
-->

下面我們會用剛才的影片示範「當影片自動暫停時，先觀看該頁面的內容，看完後再繼續播放」的方法。<br><br>請按下一步觀看示範影片。</p>


<!--
<p style="font-size:24px">
看過示範影片後，相信您對於「利用暫停功能預習內容，促進學習效率」的方式有了進一步了解。<br><br>

接下來還有一段介紹其餘腦神經的影片，您可以實際練習操作這個「暫停－預習」的方法。<br><br>

請您在觀看過程中，<span style="color:red;font-size:30px">遇到視覺訊息量較多的畫面時，暫停並預習過後再繼續播放。</span><br><br>

瞭解後請按下一步</p>-->



	   
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){
		var event = app.event.create({
			type: 'click',
			message: '實驗3-暫停與預習說明c # 確定'
		});
		app.resources.events.post(event).then(function(_event){
		   if(app.expCtrl.getGroup()=='c')
		   { location = '/exp3-video2-c';}

		   
			//location = '/exp1-video?group=' + app.expCtrl.getGroup();
		});
	}

	return {
		done: done
	}
})();
</script>