<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <!--<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="css/material-icons/iconfont/material-icons.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/ckeditor.content.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	  <script src="js/jquery.min.js"></script>
	  <script src="js/materialize.min.js"></script>
    <script src="js/resources.js"></script>
    <script src="js/event.js"></script>
    <script src="js/exp-ctrl.js"></script>
    <script src="js/egg-ctrl.js"></script>
	  <script src="js/lodash.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/notify.js"></script>
 



  </head>
  <body>
    {{{body}}}
  </body>
</html>
