<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">登入</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	    <span class="card-title">登入</span>
			<div class="row">
			  <form class="col s12" action="/login" method="post">
					{{#if message}}
						<div class="row">
							<div class="card-panel red darken-1 white-text">{{message}}</div>
						</div>
					{{/if}}
			    <div class="row">
			      <div class="input-field col s12">
			        <input id="username" name="username" type="text" class="validate">
			        <label for="username">帳號</label>
			      </div>
			    </div>
			    <div class="row">
			      <div class="input-field col s12">
			        <input id="password" name="password" type="password" class="validate">
			        <label for="password">密碼</label>
			      </div>
			    </div>
			    <div class="row">
			    	<div class="col s12 center-align">
					    <button class="btn waves-effect waves-light" type="submit">送出
						    <i class="material-icons right">send</i>
						  </button>
					  </div>
			    </div>
			  </form>
			</div>
	  </div>
	</div>
</div>