<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;-moz-user-select: none;-webkit-user-select: none;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	  {{#if survey}}
						<iframe style="font-family:cursive;min-height:800px" class="survey-iframe" id="survey-iframe" src="{{survey}}" frameborder="0"></iframe>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	    	
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a id="next-btn" class="waves-effect waves-light btn" style="display:none;" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>

var question_list={}; 


	var current_item;
    var last_item="";
    var value;
    var time_now;
    var time_now_type2;
    var time_from_beginning;
    var time_starting = app.expCtrl.getStartingTime();

    console.log(time_starting);

var app = app || {};
app.ctrl = (function(){



	function done(){
		//var event = app.event.create({
		//	type: 'click',
		//	response: '先備知識測驗 # 確定',
		// 	page:'先備知識測驗'
		//});
		//app.resources.events.post(event).then(function(_event){
			
         	
		//});


/*
           Object.keys(question_list).forEach(function(key) {
          
          
           var event = app.event.create({
				type: 'survey',
			    page:'先備知識測驗',
			    item: key,	   
			    response:  question_list[key]
			});

			app.resources.events.post(event).then(function(_event){
				
				
			});


          })
*/



         var time_now = (new Date()).toISOString();
	     time_now=Date.parse(time_now)
	     time_starting=parseInt(time_starting)


         time_from_beginning=(parseInt( time_now - time_starting))


         var days=Math.floor(time_from_beginning/(24*3600*1000));

         var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

         var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
         var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

         var minutes=Math.floor(leave2/(60*1000));

         var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

         var second=Math.floor(leave3/(1000));

         var leave4=leave3%(1000);

         var msecond=Math.floor(leave4);

         if(10<=msecond && msecond<100)
         {
          msecond="0"+msecond;	
         }
         else if(0<=msecond && msecond<10)	
         {
          msecond="00"+msecond;	
         }


         var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒"; 


         var event = app.event.create({
				type: 'click',
			    page:'後測',
			    response: '確定',
			    time:(new Date()).toISOString(),
			    timeFromBeginning: spend_time

	     });

	     	app.resources.events.post(event).then(function(_event){
				
				location = '/post_test_load';
			});

		// location = '/pre_test_load';
	}

	return {
		done: done
	}
})();

var $surveyIframe;
var surveyIframe;
var $nextBtn;
var injectionSurveyCtrl;




$(function(){
	$nextBtn = $('#next-btn');
	$surveyIframe = $('#survey-iframe');
	surveyIframe = $surveyIframe.get(0);

	injectionSurveyCtrl = (function(){

		function sendDataToServerDone(){
			$nextBtn.show();
		}

		function onMutation(){
			autoHeightIframe(surveyIframe);
		}











	function onValueChanged(survey, options){



              time_now_type2 = Date.parse( time_now);  

              time_from_beginning=(parseInt( time_now_type2 - time_starting))



               var days=Math.floor(time_from_beginning/(24*3600*1000));

               var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

               var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
               var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

               var minutes=Math.floor(leave2/(60*1000));

               var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

               var second=Math.floor(leave3/(1000));

               var leave4=leave3%(1000);

                var msecond=Math.floor(leave4);

               if(10<=msecond && msecond<100)
               {
               	msecond="0"+msecond;	
               }
               else if(0<=msecond && msecond<10)	
               {
                   msecond="00"+msecond;	

               }


          time_from_beginning= hours+"時"+minutes+"分"+second+"."+msecond+"秒";

           var event = app.event.create({
				type: 'survey',
				page:'(歷)後測',
			    item: last_item,
			    response: value,
			    time: time_now,
			    timeFromBeginning:time_from_beginning
			});
          //question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			app.resources.events.post(event).then(function(_event){
				
			//	console.log('[event]', _event);
			});

             current_item=options.name;


  	  if(typeof(options.value) === 'string')
	  {
      
        //value=options.value;

        console.log(current_item);
        console.log(last_item);
        console.log(value);

       if(last_item!="")
       {
       	//console.log("last_item",last_item);
        

         if(current_item!=last_item)
         {


          if(value == "null")
          {

          }	
          else
          {



              time_now_type2 = Date.parse( time_now);  

              time_from_beginning=(parseInt( time_now_type2 - time_starting))



               var days=Math.floor(time_from_beginning/(24*3600*1000));

               var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

               var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
               var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

               var minutes=Math.floor(leave2/(60*1000));

               var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

               var second=Math.floor(leave3/(1000));

               var leave4=leave3%(1000);

                var msecond=Math.floor(leave4);

               if(10<=msecond && msecond<100)
               {
               	msecond="0"+msecond;	
               }
               else if(0<=msecond && msecond<10)	
               {
                   msecond="00"+msecond;	

               }


time_from_beginning= hours+"時"+minutes+"分"+second+"."+msecond+"秒";










           var event = app.event.create({
				type: 'survey',
				page:'後測',
			    item: last_item,
			    response: value,
			    time: time_now,
			    timeFromBeginning:time_from_beginning
			});
          //question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			app.resources.events.post(event).then(function(_event){
				
			//	console.log('[event]', _event);
			});
	    	}

		   value=options.value;
		   time_now=(new Date()).toISOString();  
           last_item=current_item;
         }
         else //(current_itme==last_item)
         {
           value=options.value;
           time_now=(new Date()).toISOString();  
           last_item=current_item;
         }

       }
       else //(last_item=="")
       {
         value=options.value;
         time_now=(new Date()).toISOString();  
         last_item=current_item;
       }


	  }
	  else
	  {
       //value=JSON.stringify(options.value);
       
        console.log(current_item);
        console.log(last_item);
        console.log(value);

       if(last_item!="")
       {
       	console.log("last_item",last_item);
         if(current_item!=last_item)
         {

          if(value == "null")
          {

          }
          else
          {

          	  time_now_type2 = Date.parse( time_now);  

              time_from_beginning=(parseInt( time_now_type2 - time_starting))



               var days=Math.floor(time_from_beginning/(24*3600*1000));

               var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

               var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
               var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

               var minutes=Math.floor(leave2/(60*1000));

               var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

               var second=Math.floor(leave3/(1000));

               var leave4=leave3%(1000);

                var msecond=Math.floor(leave4);

               if(10<=msecond && msecond<100)
               {
               	msecond="0"+msecond;	
               }
               else if(0<=msecond && msecond<10)	
               {
                   msecond="00"+msecond;	

               }


            time_from_beginning= hours+"時"+minutes+"分"+second+"."+msecond+"秒";



            var event = app.event.create({
				type: 'survey',
				page:'後測',
			    item: last_item,
			    response: value,
			    time: time_now,
			    timeFromBeginning:time_from_beginning
			});
          //question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			app.resources.events.post(event).then(function(_event){
				
			//	console.log('[event]', _event);
			});


          }	
           
		   value=JSON.stringify(options.value);
		   time_now=(new Date()).toISOString();  
           last_item=current_item;
         }
         else //(current_itme==last_item)
         {
           value=JSON.stringify(options.value);
           time_now=(new Date()).toISOString();  
           last_item=current_item;
         }

       }
       else //(last_item=="")
       {
        value=JSON.stringify(options.value);
        time_now=(new Date()).toISOString();  
        last_item=current_item;

       }

	  }

            //if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
            //{
			//var event = app.event.create({
			//	type: 'survey',
			//	page:'先備知識測驗',
			//    item: options.name,
			    //answer: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			//    response: question_list[options.name]
			//});

			//app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
			//	console.log('[event]', _event);
			//});

           // }
            //else
           // {
			//var event = app.event.create({
			//	type: 'survey',
			//	page:'先備知識測驗',
			//   item: options.name,
			//    response: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			//});

			//question_list[options.name]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;
			//question_list[options.name+"-Comment"]=( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) ;

			//app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				//console.log('[event]', _event);
			//	console.log(question_list);
			//});
	        //}

		}  //function onValueChanged(survey, options){

		return {
			sendDataToServerDone: sendDataToServerDone,
			onMutation: onMutation,
			onValueChanged: onValueChanged
		};

	})();


	$surveyIframe.load(function(){
		surveyIframe.contentWindow.app.injection.settings = {
			noPrevPageBtn: true
		};
		surveyIframe.contentWindow.app.injection.surveyCtrl = injectionSurveyCtrl;
		surveyIframe.contentWindow.app.injection.expCtrl = app.expCtrl;
		surveyIframe.contentWindow.app.surveyCtrl.initInjection();

		autoHeightIframe(surveyIframe);

		app.eggCtrl.addEventListener(surveyIframe.contentWindow.document);
	});

	if ( app.debug ) {
		$('#next-btn').show();
	}
});
</script>