<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;-moz-user-select: none;-webkit-user-select: none;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    	  {{#if survey}}
						<iframe style="font-family:cursive" class="survey-iframe" id="survey-iframe" src="{{survey}}" frameborder="0"></iframe>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	    	
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a id="next-btn" class="waves-effect waves-light btn" style="display:none;" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>

var data=[];
var date_submit={};

var time_starting = app.expCtrl.getStartingTime();

var app = app || {};
app.ctrl = (function(){



	function done(){



 console.log(data);
    var temp;

    for(var i=0;i<data.length+1;i++)
    {


    	
     if(i==data.length)
     {
       
        for(var k=0;k<2;k++)
        {
           if(k==0)
           {
     	       console.log(date_submit);
     	
     	    for(var j in date_submit)
     	    {
           
              var event = app.event.create({
				type: date_submit[j].type,
			    page: date_submit[j].page,
			    item: date_submit[j].item+"-final"  ,
			    response: date_submit[j].response ,
			   
			    timeFromBeginning: date_submit[j].timeFromBeginning

			  });

              app.resources.events.post(event).then(function(_event){
					
			  });

         	}

           }
           if(k==1)
           {

            var time_now = (new Date()).toISOString();
	        time_now=Date.parse(time_now)
	        time_starting=parseInt(time_starting)

	        time_from_beginning=(parseInt( time_now - time_starting))


           var days=Math.floor(time_from_beginning/(24*3600*1000));

           var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

           var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
           var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

           var minutes=Math.floor(leave2/(60*1000));

           var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

           var second=Math.floor(leave3/(1000));

           var leave4=leave3%(1000);

            var msecond=Math.floor(leave4);

           if(10<=msecond && msecond<100)
           {
           	msecond="0"+msecond;	
           }
           else if(0<=msecond && msecond<10)	
           {
               msecond="00"+msecond;	

           }


           var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒"; 


           var event = app.event.create({
				type: 'click',
			    page:'自陳量表',
			    response: '確定',
			    time:(new Date()).toISOString(),
			    timeFromBeginning: spend_time

			});


           app.resources.events.post(event).then(function(_event){
				
				//location = '/pre_test_two_content';
				//location = '/problem_report';


			  if(app.expCtrl.getGroup()=='a')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/problem_reportA';
		      }
		      if(app.expCtrl.getGroup()=='b')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/problem_reportB';
		      }
		      if(app.expCtrl.getGroup()=='c')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/problem_reportC';
		      }
		      if(app.expCtrl.getGroup()=='d')
		      {
		      	console.log(app.expCtrl.getGroup());
		       location = '/problem_reportD';
		      }
			});

             // location = '/pre_test_two_content';

           }
           else
           {


           }


        }	




     	
     }
     else
     {
     	if(data[i].item.indexOf("-Comment")>=0)
    	{

    	}
    	else
    	{
          date_submit[data[i].item]=data[i];
    	}
     }	



    }

           

			




	}

	return {
		done: done
	}
})();

var $surveyIframe;
var surveyIframe;
var $nextBtn;
var injectionSurveyCtrl;
$(function(){
	$nextBtn = $('#next-btn');
	$surveyIframe = $('#survey-iframe');
	surveyIframe = $surveyIframe.get(0);

	injectionSurveyCtrl = (function(){

		function sendDataToServerDone(){
			$nextBtn.show();
		}

		function onMutation(){
			autoHeightIframe(surveyIframe);
		}


		function onValueChanged(survey, options){

	console.log(survey);
            
            if(( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) == "null")
            {

 	        var time_now = (new Date()).toISOString();
	        time_now=Date.parse(time_now)
	        time_starting=parseInt(time_starting)



           time_from_beginning=(parseInt( time_now - time_starting))



           var days=Math.floor(time_from_beginning/(24*3600*1000));

           var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

           var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
           var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

           var minutes=Math.floor(leave2/(60*1000));

           var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

           var second=Math.floor(leave3/(1000));

           var leave4=leave3%(1000);

            var msecond=Math.floor(leave4);

           if(10<=msecond && msecond<100)
           {
           	msecond="0"+msecond;	
           }
           else if(0<=msecond && msecond<10)	
           {
               msecond="00"+msecond;	

           }

           var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";   


          var event = app.event.create({
				type: 'survey',
			    page:'自陳量表',
			    item: options.name,	   
			    response:   (typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value)),
			    time:(new Date()).toISOString(),
			    timeFromBeginning: spend_time
			});

			app.resources.events.post(event).then(function(_event){
				
				
			});

            data.push(event);



			//var event = app.event.create({
			//	type: 'survey',
			//	page:"先備知識測驗認知負荷量表",
			//    item: options.name,
			//    response: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			//});

			//app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
			//	console.log('[event]', _event);
			//});

            }
            else
            {


            	 var time_now = (new Date()).toISOString();
	        time_now=Date.parse(time_now)
	        time_starting=parseInt(time_starting)



           time_from_beginning=(parseInt( time_now - time_starting))



           var days=Math.floor(time_from_beginning/(24*3600*1000));

           var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

           var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
           var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

           var minutes=Math.floor(leave2/(60*1000));

           var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

           var second=Math.floor(leave3/(1000));

           var leave4=leave3%(1000);

            var msecond=Math.floor(leave4);

           if(10<=msecond && msecond<100)
           {
           	msecond="0"+msecond;	
           }
           else if(0<=msecond && msecond<10)	
           {
               msecond="00"+msecond;	

           }

           var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒"; 


           var event = app.event.create({
				type: 'survey',
			    page:'自陳量表',
			    item: options.name,	   
			    response:   (typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value)),
			    time:(new Date()).toISOString(),
			    timeFromBeginning: spend_time

			});



			app.resources.events.post(event).then(function(_event){
				
				
			});


			data.push(event);
			
			//var event = app.event.create({
			//	type: 'survey',
			//	page:"先備知識測驗認知負荷量表",
			//    item: options.name,
			//    response: ( typeof(options.value) === 'string' ? options.value : JSON.stringify(options.value) ) 
			//});


			//app.resources.events.post(event).then(function(_event){
				//console.log('[event]', _event);
				
			//});
	        }

		}

		return {
			sendDataToServerDone: sendDataToServerDone,
			onMutation: onMutation,
			onValueChanged: onValueChanged
		};

	})();


	$surveyIframe.load(function(){
		surveyIframe.contentWindow.app.injection.settings = {
			noPrevPageBtn: true
		};
		surveyIframe.contentWindow.app.injection.surveyCtrl = injectionSurveyCtrl;
		surveyIframe.contentWindow.app.injection.expCtrl = app.expCtrl;
		surveyIframe.contentWindow.app.surveyCtrl.initInjection();

		autoHeightIframe(surveyIframe);

		app.eggCtrl.addEventListener(surveyIframe.contentWindow.document);
	});

	if ( app.debug ) {
		$('#next-btn').show();
	}
});
</script>