<nav class="grey darken-3">
  <div class="nav-wrapper container">
	  <a href="#" class="brand-logo">MOOCs</a>
    <div class="col s12" style="margin-left: 150px;">
      <a href="#!" class="breadcrumb">Moocs</a>
      <a href="#!" class="breadcrumb">設定</a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top:40px;">
	<div class="card">
	  <div class="card-content">
	    <span class="card-title">設定</span>
			<div class="row">
			  <form class="col s12" action="javascript:submit()">
			    <div class="row">
			      <div class="input-field col s12">
			        <input id="user-code" name="user-code" type="text" class="validate">
			        <label for="user-code">受試者編號</label>
			      </div>
			    </div>
					<div class="row">
						<div class="col s12">
							<p>分組</p>
							<p>
								<input type="radio" name="group" id="group-a" value="a" checked />
								<label for="group-a">A</label>
							</p>
							<p>
								<input type="radio" name="group" id="group-b" value="b" />
								<label for="group-b">B</label>
							</p>
							<p>
								<input type="radio" name="group" id="group-c" value="c" />
								<label for="group-c">C</label>
							</p>
							<!--
							<p>
								<input type="radio" name="group" id="group-c" value="c" />
								<label for="group-c">C</label>
							</p>
                             -->
							<p>
								<input type="radio" name="group" id="group-d" value="d" />
								<label for="group-d">D</label>
							</p>

						</div>
					</div>
			  </form>
		    <div class="row">
		    	<div class="col s12 center-align">
				    <button class="btn waves-effect waves-light" id="submit">送出
					    <i class="material-icons right">send</i>
					  </button>
				  </div>
		    </div>
			</div>
	  </div>
	</div>
</div>
<script>
	$('#submit').click(submit);

	function submit(){
		var userCode = $('#user-code').val();
		app.expCtrl.setUserCode(userCode);
		var group = $('input[name=group]:checked').val();
		app.expCtrl.setGroup(group);
		location = '/welcome_content';
	}
</script>