<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;-moz-user-select: none;-webkit-user-select: none;">
    <!--  <div class="card" >-->
   <!-- <div class="card-content">-->
      <div class="container" style="display: flex; align-items: center; justify-content: center;">
        <div class="ltc-video-container grey darken-4" id="video-container" style="width: 1060px; height:650px;">
            {{#if video}}
              <!-- <div id="play-overlay" onclick="app.video.start()" class="grey darken-3" style="width: 960px; height:540px; position:absolute; opacity:.8; display: flex; align-items: center; justify-content: center; cursor:pointer; z-index:1;"> -->
                <!-- <i class="material-icons" style="font-size:20rem; color:lightgray;">play_arrow</i> -->
              <!-- </div> -->
              <div class="video" style="width: 1060px; height:650px;">
                <video id="video"
                      width="1060"
                      height="650"
                      >
                  <source src="{{video}}" type="video/mp4">
                  {{!-- {{#if webvtt}}
                    <track kind="captions" src="{{webvtt}}" srclang="en" label="English" default>
                  {{/if}} --}}
                </video>
              </div>
            {{else}}
              <p class="white-text">請先設定影片</p>
            {{/if}}
          <!--
          <div class="video-seek-bar" style="width:960px;position:relative;top:10px;left:150px">
            <input type="range" id="seek-bar" value="0" max="10000">
          </div>-->
          
          <div class="video-control-bar grey darken-4" id="video-container-control-bar" style="width:1060px">
            <div class="waves-effect waves-light video-btn" id="play-toggle-btn" onclick="app.video.playToggle()">
              <i class="material-icons white-text">play_arrow</i>
            </div>
             <!--
            <div class="waves-effect waves-light video-btn" onclick="app.video.replay(10)">
              <i class="material-icons white-text">replay_10</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.forward(10)">
              <i class="material-icons white-text">forward_10</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.video.toggleCc()">
              <i class="material-icons white-text" id="cc">closed_caption</i>
            </div>
            <div class="waves-effect waves-light video-btn" onclick="app.favorList.add()">
              <i class="material-icons white-text">bookmark</i>
            </div>-->
            <div class="white-text video-time">
              <div class="left-align" style="padding-top:7px;">
                <span id="video-current-time"></span>
                <span>/</span>
                <span id="video-duration"></span>
              </div>
            </div>
            <div class="video-volume">
              <div class="waves-effect waves-light video-btn" onclick="app.video.toggleVolume()">
                <i class="material-icons white-text" id="volume-icon">volume_up</i>
              </div>
              <input type="range" id="volume-bar" value="100">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- <div class="col" style="width:640px; height:410px; padding:0;"> --}}
        <div class="col">

        </div>
        {{!-- <div class="col" style="width:480px;">
          <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s4"><a class="active" href="#test-swipe-1">逐字搞</a></li>
            <li class="tab col s4"><a href="#test-swipe-2">大綱講義</a></li>
            <li class="tab col s4"><a href="#test-swipe-3">書籤</a></li>
          </ul>
          <div id="test-swipe-1" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="transcript"></div>
          </div>
          <div id="test-swipe-2" class="col s12 grey lighten-2" style="min-height: 372px;">Test 2</div>
          <div id="test-swipe-3" class="col s12 grey lighten-2" style="min-height: 372px;overflow-y: scroll;">
            <div id="favor-list"></div>
          </div>
        </div> --}}
      </div>
        <div class="row">
        <div style="position:relative;top:45px" class="col s12 center-align">
          <a id="next-btn" class="waves-effect waves-light btn" style="display:none;" href="#!" onclick="app.video.toggleCc()"><i class="material-icons left">navigate_next</i>下一步</a>
        </div>
      </div>
    </div>
  <!--</div>-->
 <!--</div>-->
<noscript id="transcript-template">
  <div class="collection">
    <% _.forEach(data.cues, function(cue){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=cue.startTime%>)">
        <span><%=format.mmss(cue.startTime)%></span>
        <span><%=cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<noscript id="favor-list-template">
  <div class="collection">
    <% _.forEach(data.favors, function(favor){ %>
      <a href="#!" class="collection-item" onclick="app.video.setCurrentTime(<%=favor.time%>)">
        <span><%=format.mmss(favor.time)%></span>
        <span><%=favor.cue.text%></span>
      </a>
    <% }) %>
  </div>
</noscript>
<script>
var app = app || {};
app.video = (function(){

  var last_time;

  var time_interval;
var time_interval_minute;
var time_interval_second;
var first_operation=0;

  var video;
  var $transcript;
  var $seekBar;
  var $volumeBar;
  var $volumeIcon;
  var $playToggleBtnIcon;
  var $videoCurrentTime;
  var $videoDuration;
  var cues;
  var restoreVolume;
  var $doneBtn;
var stop_index=0;
var k=0;
var press_times=0;
  var $nextBtn;

$nextBtn = $('#next-btn');


var time_starting = app.expCtrl.getStartingTime(); 


console.log(time_starting);

function jump(){




       var time_now = Date.parse( (new Date()).toISOString() ); 

       var time_from_beginning=(parseInt( time_now - time_starting))

       var days=Math.floor(time_from_beginning/(24*3600*1000));

       var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

       var hours=Math.floor(leave1/(3600*1000));
       //計算相差分鐘數
       var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

       var minutes=Math.floor(leave2/(60*1000));

       var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

       var second=Math.floor(leave3/(1000));

       var leave4=leave3%(1000);

       var msecond=Math.floor(leave4);

       if(10<=msecond && msecond<100)
       {
         msecond="0"+msecond;  
       }
       else if(0<=msecond && msecond<10) 
       {
           msecond="00"+msecond; 

       }

       var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";


      var event = app.event.create({
       type: 'auto',
       response: '跳頁',
       page:"影片d",
       time: (new Date(time_now)).toISOString(),
       timeFromBeginning:spend_time
       
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });


  //location='/exp1-video-intro-a';
location='/video_load';

/*
          if(app.expCtrl.getGroup()=='a')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_a2'
          }
          if(app.expCtrl.getGroup()=='b')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_b2'
          }
          if(app.expCtrl.getGroup()=='c')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_c2'
          }
          if(app.expCtrl.getGroup()=='d')
          {
            console.log(app.expCtrl.getGroup());
           location = '/offical_content_d2'
          }

          */
}

//location='/exp1-cognitive-load-test';





  function init(){

    

    video = document.getElementById('video');
    $transcript = $('#transcript');
    $volumeBar = $('#volume-bar');
    $seekBar = $('#seek-bar');
    




    $volumeIcon = $('#volume-icon');
    $playToggleBtnIcon = $('#play-toggle-btn').find('i');
    $videoCurrentTime = $('#video-current-time');
    $videoDuration = $('#video-duration');
    cues = video.textTracks[0] ? video.textTracks[0].cues : [];
    restoreVolume = 1;
    $doneBtn = $('#done-btn');
    $doneBtn.hide();
    


/*
        $('#video-container-control-bar').notify(
        "您可以視需要隨時暫停與播放影片", 
        { position:"top left", className: "info", autoHideDelay: 8000   }
        );
*/

    var decodedJson = decodeURIComponent("{{{pauseAt}}}");
    
    var jsonObj = JSON.parse(decodedJson);
    jsonObj=jsonObj.sort()

    for(var i=0;i<jsonObj.length;i++)
    {
    jsonObj[i]=parseFloat(jsonObj[i]); 
    }

 //   console.log(jsonObj);

    video.addEventListener('loadeddata', function() {
      $videoDuration.text(app.format.mmss(video.duration));
      renderTranscript();
      renderTime();
    });

    video.addEventListener("timeupdate", function() {
      //var value = (100 / video.duration) * video.currentTime;

      
      var value = 10000  * (video.currentTime/video.duration);
          

       for(var i=0;i<jsonObj.length;i++)
       {
        if(jsonObj[i]<video.currentTime &&  video.currentTime< jsonObj[i]+0.2502)
         {

      //    video.pause();
          $playToggleBtnIcon.html('play_arrow');
         }
       }


       if((video.duration-5)<video.currentTime &&  video.currentTime< (video.duration-5)+0.2502) 
       {

        //video.currentTime=(video.duration-5); ////////////////////////////++
        console.log(video.currentTime);
        
/*
        $('#video-container').notify(
  "影片將重複播放，直到學習時間結束自動跳頁。", 
  { position:"bottom center", className: "success"  }
);*/
        //$.notify("Hello World");

        //$alert.show();
        //var timeoutID2 = window.setTimeout(( () => $alert.hide() ), 3000);
       }


    console.log(video.currentTime);
      $seekBar.val(value);
      renderTime();
    });

    video.addEventListener("ended", function() {


//$nextBtn.show();


       var time_now = Date.parse( (new Date()).toISOString() ); 

       var time_from_beginning=(parseInt( time_now - time_starting))

       var days=Math.floor(time_from_beginning/(24*3600*1000));

       var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

       var hours=Math.floor(leave1/(3600*1000));
       //計算相差分鐘數
       var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

       var minutes=Math.floor(leave2/(60*1000));

       var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

       var second=Math.floor(leave3/(1000));

       var leave4=leave3%(1000);

       var msecond=Math.floor(leave4);

       if(10<=msecond && msecond<100)
       {
         msecond="0"+msecond;  
       }
       else if(0<=msecond && msecond<10) 
       {
           msecond="00"+msecond; 

       }

       var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";


       var event = app.event.create({
       type: 'auto',
       response: '播放完畢',
       page: '影片d',
       time: (new Date(time_now)).toISOString(),
       timeFromBeginning:spend_time

       });
       
       app.resources.events.post(event).then(function(_event){
           
        });



       //var second=2;
       //  var jumpTiming=second*1000;
       // var timeoutID1 = window.setTimeout(( () => jump() ), jumpTiming);

      //      location='/offical_content';
 //location='/main_load';





       //location='/load1';

      //video.currentTime=0;
      // video.play();
     $playToggleBtnIcon.html('play_arrow');
     $nextBtn.show();
  //    $doneBtn.removeClass('disabled');
    });

    //$seekBar.change(function(){
    //  var time = video.duration * ($seekBar.val() / 100);
    //  video.currentTime = time;
    //});

    $seekBar.bind("input", function(){
      var time = video.duration * ($seekBar.val() / 10000);
      video.currentTime = time;
    });


    // $volumeBar.change(function(){
    //   console.log($volumeBar.val());
    //   video.volume = $volumeBar.val() / 100;
    // });

    $volumeBar.bind("input", function() {
      video.volume = $volumeBar.val() / 100;
      if ( video.volume > 0 ) {
        $volumeIcon.html('volume_up');
      } else {
        $volumeIcon.html('volume_off');
      }
    });
  }

  function renderTranscript(){
    var data = {};
    data.cues = cues;
    $transcript.html(app.components.transcript(data));
  }

  function renderTime(){
    $videoCurrentTime.text(app.format.mmss(video.currentTime));
  }

  function setCurrentTime(time){
    video.currentTime = time;
  }

  function getCurrentTime(){
    return video.currentTime;
  }


function nextpage(){

  // stop_index=stop_index+1;
  // console.log("here");

        
     
  }



  function playToggle(){




  // stop_index=stop_index+1;
  // console.log("here");

    if ( video.paused ) {

               var time_now = Date.parse( (new Date()).toISOString() ); 

               console.log(time_now);

       var time_from_beginning=(parseInt( time_now - time_starting))


       console.log("time_from_beginning",time_from_beginning);

       var days=Math.floor(time_from_beginning/(24*3600*1000));

       var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

       var hours=Math.floor(leave1/(3600*1000));
       //計算相差分鐘數
       var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

       var minutes=Math.floor(leave2/(60*1000));

       var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

       var second=Math.floor(leave3/(1000));

       var leave4=leave3%(1000);

       var msecond=Math.floor(leave4);

       console.log("msecond",msecond);

       if(10<=msecond && msecond<100)
       {
         msecond="0"+msecond;  
       }
       else if(0<=msecond && msecond<10) 
       {
           msecond="00"+msecond; 

       }

       console.log("msecond2",msecond);

       var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";


        video.play();

        //console.log(playiing_status);

        $("#play-toggle-btn").hide();
        $playToggleBtnIcon.html('pause');



       var complete_number= Math.floor(video.currentTime);
       var float_number= video.currentTime-complete_number;

       var complete_minute;
       var complete_second;
        
      
       complete_minute =complete_number/60;
       complete_minute=Math.floor(complete_minute);

       complete_second =complete_number%60;
       complete_second =complete_second+float_number;
       complete_second = complete_second.toFixed(4);


       if(0<=complete_minute && complete_minute<10) 
       {
           complete_minute="0"+complete_minute; 
       }
       else
       {
           complete_minute=""+complete_minute; 
       }

       if(0<=complete_second && complete_second<10) 
       {
            if( (complete_second-Math.floor(complete_second)) ==0)
            {
              complete_second="0"+complete_second+".0";
            }
            else
            {
               complete_second="0"+complete_second; 
            }  


       }
       else
       {
            if( (complete_second-Math.floor(complete_second)) ==0)
            {
              complete_second=""+complete_second+".0";
            }
            else
            {
              complete_second=""+complete_second; 
            } 
       }

       
       var video_time=complete_number+float_number;

    
       
      //console.log(complete_minute);
      //console.log(complete_second);





      if(first_operation==0)
      {
        first_operation++;
        last_time=time_from_beginning;
        time_interval_minute="-";
        time_interval_second="-";        
      }
      else
      {
        time_interval=time_from_beginning-last_time;

        time_interval_minute=Math.floor(time_interval/60000);  //分鐘數
        time_interval_second=(time_interval%60000)/1000;

        console.log("time_interval_minute2:"+time_interval_minute);
        console.log("time_interval_second2:"+time_interval_second);


        last_time=time_from_beginning;




      }

       if(0<=time_interval_minute && time_interval_minute<10) 
       {
           time_interval_minute="0"+time_interval_minute; 
       }
       else
       {
           time_interval_minute=""+time_interval_minute; 
       }

       if(0<=time_interval_second && time_interval_second<10) 
       {
           time_interval_second="0"+time_interval_second; 

       }
       else
       {
        time_interval_second=""+time_interval_second; 
       }


       var event = app.event.create({
       type: 'click',
       response: '播放',
       videoTime:  complete_minute+":"+complete_second,
       intervalSinceLastime: time_interval_minute+":"+time_interval_second,
       page:"學習影片",
       time: (new Date(time_now)).toISOString(),
       timeFromBeginning:spend_time
       });
       



       app.resources.events.post(event).then(function(_event){
              

            
           // console.log(current_evnet);
           // console.log(time_from_beginning);

        });




      var item = '<div class="item">New</div>';
    $('#main').append(item);


     } else {


             var time_now = Date.parse( (new Date()).toISOString() ); 

       var time_from_beginning=(parseInt( time_now - time_starting))

       var days=Math.floor(time_from_beginning/(24*3600*1000));

       var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

       var hours=Math.floor(leave1/(3600*1000));
       //計算相差分鐘數
       var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

       var minutes=Math.floor(leave2/(60*1000));

       var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

       var second=Math.floor(leave3/(1000));

       var leave4=leave3%(1000);

       var msecond=Math.floor(leave4);

       if(10<=msecond && msecond<100)
       {
         msecond="0"+msecond;  
       }
       else if(0<=msecond && msecond<10) 
       {
           msecond="00"+msecond; 

       }

       var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";
        
       video.pause();
        //playiing_status=0;
        //console.log(playiing_status)
       $playToggleBtnIcon.html('play_arrow');
    
   





       var complete_number= Math.floor(video.currentTime);
       var float_number= video.currentTime-complete_number;

       var complete_minute;
       var complete_second;
        
      
       complete_minute =complete_number/60;
       complete_minute=Math.floor(complete_minute);

       complete_second =complete_number%60;
       complete_second =complete_second+float_number;
       complete_second = complete_second.toFixed(4);


       if(0<=complete_minute && complete_minute<10) 
       {
           complete_minute="0"+complete_minute; 
       }
       else
       {
           complete_minute=""+complete_minute; 
       }

       if(0<=complete_second && complete_second<10) 
       {
            if( (complete_second-Math.floor(complete_second)) ==0)
            {
              complete_second="0"+complete_second+".0";
            }
            else
            {
               complete_second="0"+complete_second; 
            }  
 

       }
       else
       {
            if( (complete_second-Math.floor(complete_second)) ==0)
            {
              complete_second=""+complete_second+".0";
            }
            else
            {
              complete_second=""+complete_second; 
            }  
       }


       var video_time=complete_number+float_number;

 
       
      if(first_operation==0)
      {
        first_operation++;
        last_time=time_from_beginning;
        time_interval_minute="-";
        time_interval_second="-";       
      }
      else
      {
        time_interval=time_from_beginning-last_time;

        time_interval_minute=Math.floor(time_interval/60000);  //分鐘數
        time_interval_second=(time_interval%60000)/1000;

        console.log("time_interval_minute2:"+time_interval_minute);
        console.log("time_interval_second2:"+time_interval_second);


        last_time=time_from_beginning;







  

      }



       if(0<=time_interval_minute && time_interval_minute<10) 
       {
           time_interval_minute="0"+time_interval_minute; 
       }
       else
       {
           time_interval_minute=""+time_interval_minute; 
       }

       if(0<=time_interval_second && time_interval_second<10) 
       {
           time_interval_second="0"+time_interval_second; 

       }
       else
       {
        time_interval_second=""+time_interval_second; 
       }





       var event = app.event.create({
       type: 'click',
       response: '暫停',
       videoTime:  complete_minute+":"+complete_second,
       intervalSinceLastime: time_interval_minute+":"+time_interval_second,
       page:"學習影片",
       time: (new Date(time_now)).toISOString(),
       timeFromBeginning:spend_time

       });
       




       app.resources.events.post(event).then(function(_event){
          // console.log(_event);


        //    console.log(current_evnet);
        //    console.log(time_from_beginning);

        });
       
     }
  }

  function start(){
    $('#play-overlay').hide();
    video.play();
  }

  function replay(time){
    video.currentTime -= time;
  }

  function forward(time){
    video.currentTime += time;
  }

  function getActiveCue(){
    return video.textTracks[0].activeCues[0];
  }

  function toggleCc(){



       var time_now = Date.parse( (new Date()).toISOString() ); 

       var time_from_beginning=(parseInt( time_now - time_starting))

       var days=Math.floor(time_from_beginning/(24*3600*1000));

       var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

       var hours=Math.floor(leave1/(3600*1000));
       //計算相差分鐘數
       var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

       var minutes=Math.floor(leave2/(60*1000));

       var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

       var second=Math.floor(leave3/(1000));

       var leave4=leave3%(1000);

       var msecond=Math.floor(leave4);

       if(10<=msecond && msecond<100)
       {
         msecond="0"+msecond;  
       }
       else if(0<=msecond && msecond<10) 
       {
           msecond="00"+msecond; 

       }

       var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒";



    var event = app.event.create({
      type: 'click',
      response: '確定',
      page: '影片d',
      time: (new Date(time_now)).toISOString(),
      timeFromBeginning:spend_time
    });
    
    app.resources.events.post(event).then(function(_event){
     


     location = '/video_load'

/*
          if(app.expCtrl.getGroup()=='a')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_a2'
          }
          if(app.expCtrl.getGroup()=='b')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_b2'
          }
          if(app.expCtrl.getGroup()=='c')
          { 
            console.log(app.expCtrl.getGroup());
            location = '/offical_content_c2'
          }
          if(app.expCtrl.getGroup()=='d')
          {
            console.log(app.expCtrl.getGroup());
           location = '/offical_content_d2'
          }
  */  


    });


      // location='/main_load';





       /*
       var event = app.event.create({
       type: 'click',
       message: '實驗3-示範實驗說明a-自由控制 # 跳頁'
       });
       
       app.resources.events.post(event).then(function(_event){
           
        });
*/
    /*
    if ( isCcActive() ) {
      video.textTracks[0].mode = 'hidden';
      $('#cc').addClass('grey-text text-darken-1');
      $('#cc').removeClass('white-text');
    } else {
      video.textTracks[0].mode = 'showing';
      $('#cc').removeClass('grey-text text-darken-1');
      $('#cc').addClass('white-text');
    }*/
  }

  function isCcActive(){
    return video.textTracks[0].mode === 'showing';
  }

  function toggleVolume(){
    if ( video.volume > 0 ) {
      restoreVolume = video.volume;
      video.volume = 0;
      $volumeIcon.html('volume_off');
    } else {
      video.volume = restoreVolume;
      $volumeIcon.html('volume_up');
    }

    $volumeBar.val(video.volume * 100);
  }

  return {
    init: init,
    setCurrentTime: setCurrentTime,
    getCurrentTime: getCurrentTime,
    playToggle: playToggle,
    replay: replay,
    forward: forward,
    getActiveCue: getActiveCue,
    toggleCc: toggleCc,
    isCcActive: isCcActive,
    toggleVolume: toggleVolume,
    start: start
  };

})();

app.format = (function(){

  function mmss(second){
    var mm = parseInt(second / 60);
    var ss = _.padStart(_.round(second % 60), 2, 0)
    return mm + ':' + ss;
  }

  return {
    mmss: mmss
  };

})();

app.favorList = (function(){
  var favors;
  var $favorList;

  function init(){
    favors = [];
    $favorList = $('#favor-list');
  }

  function add(){
    var favor = {};
    favor.time = app.video.getCurrentTime();
    favor.cue = app.video.getActiveCue();
    favors.push(favor);
    render();
  }

  function render(){
    var data = {};
    data.favors = favors;
    $favorList.html(app.components.favorList(data));
  }

  return {
    init: init,
    add: add
  };

})();

app.components = app.components || {};
app.components.transcript = function(data){
  var template = $('#transcript-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

app.components.favorList = function(data){
  var template = $('#favor-list-template').text();
  var compiled = _.template(template);
  return compiled({data: data, format: app.format});
};

$(function(){
  app.video.init();
  app.favorList.init();

 // if ( app.debug ) {
 //   $('#done-btn').removeClass('disabled');
 // }

   if ( app.debug ) {
    $('#next-btn').show();
  }


});
</script>