<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;-moz-user-select: none;-webkit-user-select: none;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    		{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	  		</div>
	  	</div>
	    <div class="row">
	    	<div class="col s12 center-align">
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
	    	</div>
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
app.ctrl = (function(){

	function done(){


	    var time_now = (new Date()).toISOString();
	        time_now=Date.parse(time_now)

        var time_starting = app.expCtrl.getStartingTime();

        var time_from_beginning=(parseInt( time_now - time_starting))


           var days=Math.floor(time_from_beginning/(24*3600*1000));

           var leave1=time_from_beginning%(24*3600*1000);    //計算天數後剩餘的毫秒數

           var hours=Math.floor(leave1/(3600*1000));
//計算相差分鐘數
           var leave2=leave1%(3600*1000);        //計算小時數後剩餘的毫秒數

           var minutes=Math.floor(leave2/(60*1000));

           var leave3=leave2%(60*1000);        //計算小時數後剩餘的毫秒數

           var second=Math.floor(leave3/(1000));

           var leave4=leave3%(1000);

            var msecond=Math.floor(leave4);

           if(10<=msecond && msecond<100)
           {
           	msecond="0"+msecond;	
           }
           else if(0<=msecond && msecond<10)	
           {
               msecond="00"+msecond;	

           }

           var spend_time =  hours+"時"+minutes+"分"+second+"."+msecond+"秒"; 



           var event = app.event.create({
			type: 'click',
			response: '確定',
			page:'影片指導語D',
			time: (new Date()).toISOString(),
            timeFromBeginning:spend_time
		});


         app.resources.events.post(event).then(function(_event){


			//location = '/personal_info';
			
			
		      if(app.expCtrl.getGroup()=='a')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/video_a'
		      }
		      if(app.expCtrl.getGroup()=='b')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/video_b'
		      }
		      if(app.expCtrl.getGroup()=='c')
		      { 
		      	console.log(app.expCtrl.getGroup());
		      	location = '/video_c'
		      }
		      if(app.expCtrl.getGroup()=='d')
		      {
		      	console.log(app.expCtrl.getGroup());
		       location = '/video_d'
		      }

			
		});
		//var event = app.event.create({
		//	type: 'click',
	    //	response: '確定',
		//	page:"正式指導語"
		//});
		//app.resources.events.post(event).then(function(_event){
			//location = '/official_main';
		//});
	}

	return {
		done: done
	}
})();
</script>