<div  class="nav-wrapper">

</div>
<div class="container" style="margin-top:40px;-moz-user-select: none;-webkit-user-select: none;">
	<div class="card">
	  <div class="card-content">
	  	<div class="row">
	    	<div class="col s12">
	    		{{#if instruction}}
				    <div class="cke-container">
				    	{{{instruction}}}
				    </div>
				  {{else}}
				    <p>請先設定內容</p>
				  {{/if}}
	  		</div>
	  	</div>
	    <div class="row">
	    	<!--<div class="col s12 center-align">
	    		<h3>請按 空白鍵 進入下一頁</h3>
	    		
			    <a class="waves-effect waves-light btn" href="#!" onclick="app.ctrl.done()"><i class="material-icons left">navigate_next</i>下一步</a>
			    
	    	</div> -->
	    </div>
	  </div>
	</div>
</div>
<script>
var app = app || {};
var body = document.body;

		app.resources.usercode.get().then(function(data2){
		
		console.log(data2.username);	
          //var obj2=JSON.parse(data2);
          // console.log(obj2);
         var username =data2.username;

         var username = username.split('_');

         var userCode=username[0];

		app.expCtrl.setUserCode(userCode);
		var group = username[1];
		app.expCtrl.setGroup(group);


		});


app.ctrl = (function(){

  body.addEventListener('keydown', goRocket ,false) //偵測按下按鍵的行為

function goRocket(e){
  
console.log(e.keyCode);

  if(e.keyCode==115)
  {
  	

  	 var obj;
     var starting_time;

		var event = app.event.create({
			type: 'click',
			response: '按下跳頁',
			page:'歡迎頁'
		});


       console.log(event);

		app.resources.events.post(event).then(function(_event){
			
           obj=JSON.parse(_event);

           console.log(obj);
           console.log(obj["data moocs event"].time);
           console.log(Date.parse(obj["data moocs event"].time));
           starting_time=Date.parse(obj["data moocs event"].time);

           app.expCtrl.setStartingTime(starting_time);

			location = '/starting_content'; 
		});
  }



    if(e.keyCode==32)
  {
  	

  	 var obj;
     var starting_time;

		var event = app.event.create({
			type: 'click',
			response: '按下跳頁',
			page:'歡迎頁'
		});


       console.log(event);

		app.resources.events.post(event).then(function(_event){
			
           obj=JSON.parse(_event);

           console.log(obj);
           console.log(obj["data moocs event"].time);
           console.log(Date.parse(obj["data moocs event"].time));
           starting_time=Date.parse(obj["data moocs event"].time);

           app.expCtrl.setStartingTime(starting_time);

			location = '/starting_content'; 
		});
  }
}



	function done(){

    
	}

	return {
		done: done
	}
})();
</script>