.brand-logo {
	margin-left: 20px;
}

strong {
  font-weight: bolder;
}

/*video::-webkit-media-controls-play-button {
  display: none !important;
}*/

input[type=range]::-webkit-slider-thumb {
  background-color: red;
}
input[type=range]::-moz-range-thumb {
  background-color: red;
}
input[type=range]::-ms-thumb {
  background-color: red;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
  display: none !important;
}
input[type=range] + .thumb.active .value {
  display: none !important;
}

.video-btn {
  opacity: .8;
  width: 40px;
  height: 40px;
  padding: 0 !important;
  display: block;
  float: left;
}

.video-btn:hover {
  opacity: 1;
}

.video-btn i {
  font-size: 30px;
  margin-left: 5px;
}

.ltc-video-container {
  position: relative;
  width: 640px;
  height: 410px;
  padding: 0;
}

.video {
  width: 640px;
  height: 360px;
}

.video-seek-bar {
  position: absolute;
  bottom: 62px;
  width: 640px;
  height: 3px;
}

.video-seek-bar input {
  /*border: none;*/
}

.video-control-bar {
  width: 640px;
  height: 50px;
  padding-top: 10px;
}

.video-time {
  width: 115px;
  height: 40px;
  padding-left: 10px;
  padding-right: 0;
  display: block;
  float: left;
}

/*.video-seek-bar {
  width: 260px;
  height: 40px;
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}*/

.video-volume {
  width: 140px;
  height: 40px;
  display: block;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.video-volume input {
  width: 80px;
  margin: 12px 0;
}

.survey-iframe {
  width: 100%;
  min-height: 100px;
}

.survey-iframe-two {
  width: 100%;
  min-height: 600px;
}